.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
  }
  
  .left-side p {
    font-size: 20px;
    font-weight: bold;
  }
  
  .right-side {
    display: flex;
    gap: 20px;
  }
  
  .current-score p, .best-score p {
    font-size: 16px;
    margin: 0;
  }